.parceiro {
  .containerParceiro {
    .imagemTexto {
      position: relative;
      .imagem {
        height: 150px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .formularioEmpreendimento {
      display: flex;
      justify-content: center;
      padding: 12px;
      background: url(../../../assets/Imagens/linhas.svg) no-repeat fixed center /
          cover,
        #272727;
      form {
        padding: 12px;
        background: #27272711;
        backdrop-filter: blur(10px);
        box-shadow: inset 0 0 0 1000px #ffffff03, 0 0 50px #00000005;

        .coluna {
          display: flex;
          flex-direction: column;
          .texto {
            color: #fff;
            > * {
              margin-bottom: 18px;
            }
            h1 {
              margin-top: 12px;
              margin-bottom: 24px;
            }
            p {
              font-weight: 200;
            }
          }

          input,
          textarea,
          select {
            width: 100%;
            margin: 8px 0;
            padding: 10px 18px;
            background: #ffffff22;
            border: none;
            color: #fff;
            font-size: 1.1em;
            font-weight: 200;

            option {
              background-color: #fff5;
              color: #272727;
            }
          }

          label {
            margin-top: 8px;
            padding: 10px 0;
            color: #fff;
          }

          button {
            width: fit-content;
            padding: 12px 18px;
            margin: 12px 0;
            align-self: flex-end;
            background: #db0423;
            color: #fff;
            font-weight: 800;
          }
        }
      }
    }
  }
}

@media (min-width: 820px) {
  .parceiro {
    .containerParceiro {
      display: flex;
      flex-wrap: wrap;

      .imagemTexto {
        width: 38%;
        min-height: calc(100vh - 90px);
        .imagem {
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .formularioEmpreendimento {
        width: 62%;
        display: flex;
        align-items: center;
        padding: 38px;
        form {
          height: fit-content;
          display: flex;
          padding: 38px;

          .coluna {
            width: 50%;
            .texto {
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              color: #fff;
              .titulo {
                h1 {
                  margin-top: 48px;
                }
                p {
                  margin-top: 48px;
                }
              }
            }
          }
          .coluna:first-child {
            padding-right: 76px;
          }
        }
      }
    }
  }
}
