.Home {
	.infoImo {
		padding: 24px;
		background: #272727;
		color: #fff;
		.conteudo {
			h2 {
				margin-bottom: 36px;
				text-align: center;
			}
			.caract {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				.item {
					display: flex;
					margin: 8px 0;
					svg {
						width: 89px;
						fill: #fff;
					}
					p {
						padding: 18px 24px;
						font-weight: 200;
					}
					&:nth-child(2n) {
						flex-direction: row-reverse;
						p {
							text-align: right;
						}
					}
				}
			}
			.button {
				padding: 8px;
				p {
					padding: 12px;
					font-size: 1.2em;
					font-weight: 200;
					text-align: center;
				}
				a {
					padding: 12px 24px;
					background: #db0423;
					color: #fff;
				}
			}
		}
	}
	.BlocoVenda {
		padding: 24px;
		.textoBloco {
			text-align: center;
			h2 {
				padding: 8px;
				position: relative;
				&::after {
					content: ' ';
					width: 50px;
					height: 3px;
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					background: #db0423;
				}
			}
			p {
				padding: 8px;
			}
		}
		.Cards {
			.CardImoveisHome {
				margin: 24px auto;
				.TopoCardImoveis {
					width: 100%;
					height: 175px;
					position: relative;
					svg {
						width: 24px;
						margin: 12px;
						position: absolute;
						top: 0;
						left: 0;
						fill: #fff;
					}
				}
				.InfoCardImoveis {
					padding: 4px;
					.PCImoveis {
						display: flex;
						align-items: center;
						justify-content: space-between;
						margin: 4px 0;
					}
				}
				.verMais {
					a {
						background: #db0423;
					}
				}
			}
		}
	}
}
