.Home {
  .linhasVerticais {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(
      -35deg,
      rgba(27, 27, 27, 0.3),
      rgba(39, 39, 39, 0.5)
    ),
    url(./../../../assets/Imagens/linhas.svg) no-repeat fixed top/100% auto,
    linear-gradient(
      -35deg,
      rgb(39, 39, 39) 6%,
      rgb(27, 27, 27) 37%,
      rgb(27, 27, 27) 57%,
      rgb(39, 39, 39)
    );
    .linhas {
      display: flex;
      height: 100%;
      top: 0;
      left: 0;
      .linha {
        width: 40%;
        &:nth-child(2){
          width: 30%;
          border-left: 1px solid #5555;
          border-right: 1px solid #5555;
        }
      }
    }
  }
}