.news {
    display: flex;
    justify-content: center;
	align-items: center;
    padding: 80px 0;

    .container{

        .formNews {
            width: 50%;
            padding-right: 20px;

            form {
                display: flex;
                margin: 15px 0;

                > * {
                    margin: 8px 0;
                }
                
                input {
                    width: 100%;
                    border: 1px solid #272727;
                    padding: 10px 15px;
                    font-weight: 700;
                }
                
                button {
                    width: 60px;
                    background-color: chartreuse;
                }
            }
        }

        .textoNews {
            display: flex;
            justify-content: center;
			align-items: center;
            width: 50%;
            padding-left: 100px;

            p {
                width: 70%;
            }
        }

    }
}