.Home {
  .BlocoLancamento {
    padding: 48px 0;
    border-top: 1px solid #5555;
    border-bottom: 1px solid #5555;
    .Lancamento {
      padding: 24px 12px;
      > .textoBloco {
        color: #fff;
        text-align: center;
        position: relative;
        p {
          margin-top: 6px;
          font-weight: 200;
        }
        &::after {
          content: " ";
          width: 50px;
          height: 3px;
          position: absolute;
          bottom: -18px;
          left: 50%;
          transform: translateX(-50%);
          background: #db0423;
        }
      }
      .imoveisLacamento {
        flex-wrap: wrap;
        padding: 48px 0 0;
        .imoveis {
          padding: 24px;
          .imagemBloco {
            .imagem {
              height: 315px;
              position: relative;
              transition: 0.6s ease 0.1s;
              &::after {
                content: " ";
                width: 95%;
                height: 95%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 1px solid #272727;
              }
            }
          }
          .textoBloco {
            color: #fff;
            text-align: left;
            h3 {
              margin: 24px 0 12px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
            div.descricao {
              height: 65px;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
              overflow: hidden;
              font-weight: 200;
              transition: 1s ease;
              p {
                opacity: 1;
                transition: 0.2s ease 0.5s;
              }
            }
            &:last-child {
              height: 0;
              margin: 24px 0 0;
              overflow: hidden;
              .texto {
                > * {
                  opacity: 0;
                }
                P {
                  margin: 6px 0;
                  font-weight: 200;
                }
                p.construtora {
                  margin-top: 24px;
                  font-size: 12px;
                  text-align: left;
                }
                a {
                  p {
                    width: fit-content;
                    color: #fff;
                    padding: 6px 8px;
                    margin: 24px 0;
                    background: #db0423;
                    font-size: 16px;
                    font-weight: 400;
                  }
                }
              }
            }
          }
          &:hover {
            .imagemBloco {
              margin-bottom: 24px;
              .imagem {
                height: 300px;
                transition: 0.6s ease;
              }
            }
            .textoBloco {
              margin: 0;
              div.descricao {
                height: 0;
                transition: 0.4s ease;
                p {
                  opacity: 0;
                  transition: 0.2s ease;
                }
              }
              &:last-child {
                height: 145px;
                transition: 0.4s ease;
                .texto {
                  @for $i from 1 through 4 {
                    > *:nth-child(#{$i}) {
                      opacity: 1;
                      transition: 0.4s ease;
                      transition-delay: #{$i * 0.1}s;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 820px) {
  .Home {
    .BlocoLancamento {
      .container {
        margin: auto;
      }
      .Lancamento {
        width: 110%;
        padding: 48px;
        margin-left: -5%;
        .imoveisLacamento {
          display: flex;
          flex-wrap: wrap;
          padding: 24px 0 0;
          .imoveis {
            width: calc(100% / 3);
            padding: 24px;
            .imagemBloco {
              .imagem {
                height: 369px;
              }
            }
            .textoBloco {
              margin: 0 0 48px;
              transition: 0.4s ease;
              h3 {
                margin: 0 0 24px;
              }
              &:last-child {
                p.construtora {
                  margin-top: 24px;
                }
              }
            }
          }
        }
      }
    }
  }
}
