.Home {
  .BlocoLancamento {
    padding: 96px 24px;
    border-top: 1px solid #5555;
    border-bottom: 1px solid #5555;
    .Lancamento {
      padding: 24px 12px;
      background: linear-gradient(
          -35deg,
          rgba(27, 27, 27, 0.3),
          rgba(39, 39, 39, 0.5)
        ),
        url(./../../../../assets/Imagens/linhas.svg) no-repeat fixed no-repeat fixed top / cover,
        linear-gradient(
          -35deg,
          rgb(39, 39, 39) 6%,
          rgb(27, 27, 27) 37%,
          rgb(27, 27, 27) 57%,
          rgb(39, 39, 39)
        );
      box-shadow: inset 0 0 5px #ffffff05, 0 40px 20px -20px #ffffff05;
      > .textoBloco {
        color: #fff;
        text-align: center;
        position: relative;
        p {
          margin-top: 6px;
          font-weight: 200;
        }
        &::after {
          content: " ";
          width: 50px;
          height: 3px;
          position: absolute;
          bottom: -18px;
          left: 50%;
          transform: translateX(-50%);
          background: #db0423;
        }
      }
      .imoveisLacamento {
        flex-wrap: wrap;
        padding: 48px 0 0;
        .imoveis {
          padding: 24px;
          .imagemBloco {
            .imagem {
              height: 315px;
              position: relative;
              &::after {
                content: " ";
                width: 95%;
                height: 95%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 1px solid #272727;
              }
            }
          }
          .textoBloco {
            color: #fff;
            text-align: left;
            h3 {
              margin: 24px 0 12px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
            p.descricao {
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
              overflow: hidden;
              font-weight: 200;
            }
            p.construtora {
              margin-top: 24px;
              font-size: 12px;
              text-align: left;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 820px) {
  .Home {
    .BlocoLancamento {
      padding: 144px 0;
      .container {
        margin: auto;
      }
      .Lancamento {
        width: 110%;
        padding: 48px;
        margin-left: -5%;
        .imoveisLacamento {
          display: flex;
          flex-wrap: wrap;
          padding: 48px 0 0;
          .imoveis {
            width: calc(100% / 3);
            padding: 24px;
            .imagemBloco {
              .imagem {
                height: 369px;
              }
            }
            .textoBloco {
              h3 {
                margin: 48px 0 24px;
              }
              p.construtora {
                margin-top: 24px;
              }
            }
          }
        }
      }
    }
  }
}
