.Imovel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;

  .conteudoImovel {
    display: grid;
    position: relative;

    .titulodescricaoImovel,
    .outrosInformacoesImovel [class*="titulo"]:not(.tituloImovel) {
      content: "";
      display: flex;
      align-items: center;
      margin-bottom: 24px;
    }

    .titulodescricaoImovel:after,
    .outrosInformacoesImovel [class*="titulo"]:not(.tituloImovel):after {
      content: "";
      width: 48px;
      height: 2px;
      display: block;
      margin-left: 24px;
      background-color: #db0423;
    }

    .descricaoImovel {
      grid-area: desc;
      margin-bottom: 68px;
    }

    .formImovel {
      grid-area: form;
      margin-bottom: 68px;
      position: relative;

      .dentroFormImovel {
        width: calc(100% + 48px);
        max-width: 400px;
        height: fit-content;
        padding: 38px;
        position: sticky;
        top: 12px;
        left: -24px;
        background: #272727;
        color: #fff;

        > *:not(:last-child) {
          margin-bottom: 38px;
        }

        form {
          display: flex;
          flex-direction: column;

          > * {
            margin: 0 0 24px;
          }

          > input {
            width: 100%;
            padding: 6px 12px;
            background: none;
            border: 1px solid #fff;
          }

          .checkFormImovel {
            display: flex;
            justify-content: space-between;
          }

          button {
            width: fit-content;
            align-self: flex-end;
            padding: 12px 24px;
            margin: 24px 0 0;
            font-weight: 700;
            background: #db0423;
            color: #fff;
          }
        }

        .informacoesCadastro {
          font-size: 0.7em;
          > *:first-child {
            margin-bottom: 12px;
          }
        }
      }
    }

    .outrosInformacoesImovel {
      grid-area: info;

      > * {
        margin-bottom: 68px;
      }

      .detalhesImoveis {
        .itens {
          display: flex;
          flex-wrap: wrap;

          > p {
            width: 50%;
            display: block;
            margin-bottom: 12px;
          }

          .subitens.endereco {
            width: 100%;
            margin-top: 28px;
          }
        }
      }

      .caractsImoveis,
      .caractsCondominio {
        .itens {
          display: flex;
          flex-wrap: wrap;

          p {
            width: fit-content;
            padding: 6px 12px;
            margin: 6px;
            background: #272727;
            color: #fff;
          }
        }
      }
    }
  }
}

@media (min-width: 820px) {
  .Imovel {
    .conteudoImovel {
      .descricaoImovel {
        padding-right: 38px;
      }
      
      .outrosInformacoesImovel {
        padding-right: 38px;
      }
    }
  }
}
