.Imovel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;

  .conteudoImovel {
    width: 100%;
    position: relative;

    .titulodescricaoImovel,
    .outrosInformacoesImovel [class*="titulo"]:not(.tituloImovel) {
      content: "";
      display: flex;
      align-items: center;
      margin-bottom: 24px;
    }

    .titulodescricaoImovel:after,
    .outrosInformacoesImovel [class*="titulo"]:not(.tituloImovel):after {
      content: "";
      width: 48px;
      height: 2px;
      display: block;
      margin-left: 24px;
      background-color: #DB0423;
    }

    .topoImovel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 24px 0;

      .tituloImovel {
        margin-bottom: 48px;
      }

      .informacoesImovel {
        .endrecoImovel {
          margin-bottom: 24px;
        }

        .comodosImovel {
          display: flex;
          justify-content: space-between;
        }
      }
    }

    .boxImagemImovel {
      width: 100%;
      min-height: 336px;
      margin-bottom: 68px;
      position: relative;

      .imagemImovel {
        width: calc(100% + 48px);
        height: 100%;
        position: absolute;
        left: -24px;
        z-index: -1;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .descricaoImovel {
      margin-bottom: 68px;
    }

    .formImovel {
      width: 100%;
      margin-bottom: 68px;
      position: relative;

      .dentroFormImovel {
        width: calc(100% + 48px);
        height: fit-content;
        padding: 38px;
        position: relative;
        left: -24px;
        background: #272727;
        color: #fff;

        > *:not(:last-child) {
          margin-bottom: 38px;
        }

        form {
          display: flex;
          flex-direction: column;

          > * {
            margin: 0 0 24px ;
          }

          > input {
            width: 100%;
            padding: 6px 12px;
            background: none;
            border: 1px solid #fff;
          }

          .checkFormImovel {
            display: flex;
            justify-content: space-between;
          }

          button {
            width: fit-content;
            align-self: flex-end;
            padding: 12px 24px;
            margin: 24px 0 0;
            font-weight: 700;
            background: #DB0423;
            color: #fff;
          }
        }

        .informacoesCadastro {
          font-size: 0.7em;
          > *:first-child {
            margin-bottom: 12px;
          }
        }
      }
    }

    .outrosInformacoesImovel {
      position: relative;

      > * {
        margin-bottom: 68px;
      }

      .detalhesImoveis {
        .itens {
          display: flex;
          flex-wrap: wrap;

          > p {
            width: 50%;
            display: block;
            margin-bottom: 12px;
          }

          .subitens.endereco {
            width: 100%;
            margin-top: 28px;
          }
        }
      }

      .caractsImoveis,
      .caractsCondominio {
        .itens {
          display: flex;
          flex-wrap: wrap;

          p {
            width: fit-content;
            padding: 6px 12px;
            margin: 6px;
            background: #272727;
            color: #fff;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .Imovel {  
    .conteudoImovel {
  
      .topoImovel {
        width: 50%;
        min-height: 288px;
        padding-right: 38px;
        margin-bottom: 68px;
        float: left;
      }
  
      .boxImagemImovel {
        width: 50%;
        min-height: 336px;
        float: right;
  
        .imagemImovel {
          width: calc((100vw - 1140px) / 2 + 100%);
          height: 528px;
          left: 0;
        }
      }
  
      .descricaoImovel {
        width: 50%;
        padding-right: 38px;
        float: left;
      }
  
      .formImovel {
        width: 50%;
        display: flex;
        justify-content: center;
        float: right;
  
        .dentroFormImovel {
          max-width: 400px;
        }
      }
  
      .outrosInformacoesImovel {
        width: 50%;
        padding-right: 38px;
        float: left;
      }
    }
  }
}
