@import './../../../assets/styles/Import.scss';

.ConteudoPesquisa {
    display: flex;
    flex-direction: column;
    @extend %centro-do-item;
    @extend %inicio-section;

    .DestaquesPesquisa, .ImoveisPesquisa, .NumeroPagina {
        
        .container {
            flex-wrap: wrap;
            @extend %centro-do-item;
        }
    }

}