.AjudaImovel {
  background-color: #272727;
  padding: 24px;

  * {
    color: #fff;
  }

  .textoAjudaImovel {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    > * {
      margin: 8px 0;
    }
  }
  .formAjudaImovel {
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      > * {
        margin: 8px 0;
        padding: 10px 15px;
      }

      input {
        width: 100%;
        padding: 10px 15px;
        border: 1px solid #fff;
        background-color: #fff1;
      }

      button {
        background: #db0423;
        width: 100px;
        font-weight: 700;
      }
    }
  }
}

@media screen and (min-width: 820px) {
  .AjudaImovel {
    padding: 48px 24px;
    .container {
      display: flex;
      align-items: center;
      margin: auto;
    }
    .textoAjudaImovel {
      width: 45%;
      padding: 12px;
    }
    .formAjudaImovel {
      width: 55%;
    }
  }
}
