.AjudaImovel {
  background-color: #272727;
  padding: 24px;

  * {
    color: #fff;
  }

  .textoAjudaImovel {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    > * {
      margin: 8px 0;
    }
  }
  .formAjudaImovel {
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      > * {
        margin: 8px 0;
        padding: 10px 15px;
      }

      input {
        width: 100%;
        padding: 10px 15px;
        border: 1px solid #fff;
        background-color: #fff1;
      }

      button.ajuda {
        width: 100px;
        margin: 12px 0;
        align-self: flex-end;
        background: #db042355;
        border: 1px solid #fff5;
        font-weight: 400;
        transition: 0.4s ease;
        p {
          display: none;
          color: #fff;
          font-weight: 600;
          line-height: 25px;
        }
        &.enviar { 
          .enviar {
            display: block;
          }
        }
        &.enviando {
          background: #db042377;
          .enviando {
            display: block;
          }
        }
        &.enviado {
          background: #0002;
          .enviado {
            display: block;
          }
        }
        &.erro {
          background: #c6db04bb;
          .erro {
            display: block;
            color: #000;
          }
        }
        &:hover {
          background: #db0423;
        }

        &[disabled] {
          pointer-events: none;
        }

        svg {
          height: 18px;
          rect {
            width: 10px;
            height: 20px;
            fill: #fff;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 820px) {
  .AjudaImovel {
    padding: 48px 24px;
    .container {
      display: flex;
      align-items: center;
      margin: auto;
    }
    .textoAjudaImovel {
      width: 45%;
      padding: 12px;
    }
    .formAjudaImovel {
      width: 55%;
    }
  }
}
