.AjudaImovel {
  background-color: #272727;

  .container{
    flex-direction: column;
  }

  * {
    color: #fff;
  }

  .container {
    .textoAjudaImovel {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;

      > * {
        margin: 8px 0;
      }
    }
    .formAjudaImovel {

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        > * {
          margin: 8px 0;
          padding: 10px 15px;
        }

        input {
          width: 100%;
          padding: 10px 15px;
          border: 1px solid #fff;
          background-color: #fff1;
        }

        button {
          background: #db0423;
          width: 100px;
          font-weight: 700;
        }
      }
    }
  }
}

@media screen and (min-width: 820px) {
  .AjudaImovel {
    background-color: #272727;

    * {
      color: #fff;
    }

    .container {
        padding: 72px 0;
        margin: auto;
        flex-direction: row;

      .textoAjudaImovel {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 96px;

        > * {
          margin: 8px 0;
        }
      }
      .formAjudaImovel {
        width: 50%;
      }
    }
  }
}
