.ConteudoPesquisa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;

    .DestaquesPesquisa, .ImoveisPesquisa, .NumeroPagina {
        
        .container {
            flex-wrap: wrap;
            justify-content: center;
    align-items: center;
        }
    }

}