.pesquisa {
  padding: 0 24px;
  background: #272727;
  overflow: hidden;

  .pesquisaContainer {
    width: 100%;
    min-height: 90px;
    padding: 38px 0;

    input.chaveFiltro {
      display: none;
    }

    label.chaveFiltro {
      width: fit-content;
      p {
        width: fit-content;
        padding: 8px 12px;
        margin: auto;
        background: #db0423;
        color: #fff;
      }
    }

    .filtrosPesquisa {
      width: 100%;
      height: 100%;
      overflow: hidden;

      
    }

    input:checked ~ .filtrosPesquisa {
      height: 0;
    }
  }
}

@media screen and (min-width: 820px) {
}
