.FGRBanner {
  .container {
    display: flex;
  }
  .textoFGRBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      width: fit-content;
      display: flex;
      align-items: center;
      color: #db0423;
      font-weight: 800;
      fill: #db0423;
      svg {
        width: 24px;
        margin-right: 12px;
      }
    }

    .logosFGR {
      width: 100%;
      display: flex;
      align-items: center;

      img {
        width: calc(100% / 3);
        height: fit-content;
        padding: 0 6px;
      }
    }
  }

  .textoFGRBanner > * {
    margin: 8px 0;
  }

  .slideFGRBanner {
    display: none;
  }
}

@media screen and (min-width: 820px) {
  .FGRBanner {
    .container {
      padding: 48px 0;
      margin: auto;
    }

    .textoFGRBanner {
      width: 40%;
      padding-right: 24px;

      .logosFGR {
        width: 70%;
      }
    }

    .slideFGRBanner {
      width: 60%;
      padding: 24px;
      display: flex;
      align-items: center;
      position: relative;

      .alice-carousel__wrapper{
        height: 325px;
        .alice-carousel__stage{
          .alice-carousel__stage-item{
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }

      .alice-carousel__dots {
        margin: 0;
        .alice-carousel__dots-item:not(.__custom) {
          width: 60px;
          height: 8px;
          margin: 6px 12px ;
          border-radius: 0;
          background-color: #27272755;
          transition: 0.4s ease;
          &.__active{
            background-color: #db0423;
          }
          &:hover{
            transform: scaleX(1.1);
            transition: 0.4s ease;
          }
        }
      }
    }
  }
}
