.FGRBanner {
  .container {
    display: flex;
  }
  .textoFGRBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      width: fit-content;
      display: flex;
      align-items: center;
      color: #db0423;
      font-weight: 800;
      fill: #db0423;
      svg {
        width: 24px;
        margin-right: 12px;
      }
    }

    .logosFGR {
      width: 100%;
      display: flex;
      align-items: center;

      img {
        width: calc(100% / 3);
        height: fit-content;
        padding: 0 6px;
      }
    }
  }

  .textoFGRBanner > * {
    margin: 8px 0;
  }

  .slideFGRBanner {
    display: none;
  }
}

@media screen and (min-width: 820px) {
  .FGRBanner {
    .container {
      padding: 48px 0;
      margin: auto;
    }

    .textoFGRBanner {
      width: 38%;
      padding-right: 24px;

      .logosFGR {
        width: 70%;
      }
    }

    .slideFGRBanner {
      width: 62%;
      padding: 24px;
      display: flex;
      align-items: center;
      position: relative;

      .boxSlide {
        width: 100%;
        height: 450px;
        display: flex;
        justify-content: center;

        .slide {
          height: 100%;
          display: flex;
          align-items: center;
          opacity: 0;
          transition: 0.5s ease;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .slide.active {
        width: 100%;
        opacity: 1;
        transition: 0.5s ease;
      }

      .botao.next,
      .botao.prev {
        width: 48px;
        height: 48px;
        padding: 12px;
        position: absolute;
        bottom: 0;
        z-index: 10;
        background: #db0423;

        svg {
          fill: #fff;
        }
      }

      .next {
        left: 108px;
      }

      .prev {
        left: 48px;
      }

      .boxPonto {
        display: flex;
        position: absolute;
        right: 36px;
        bottom: 0;
        z-index: 20;

        .pontos {
          display: flex;
          padding: 10px 5px;
          margin: 0 5px;
          cursor: pointer;

          .dentro {
            width: 24px;
            height: 5px;
            opacity: 0.5;
            background-color: #272727;
            transition: 0.5s ease;
          }
        }

        .pontos.active,
        .pontos:hover {
          .dentro {
            opacity: 1;
            transition: 0.2s ease;
            background-color: #db0423;
          }
        }

        .pontos:hover {
          .dentro {
            transform: scaleY(2);
          }
        }
      }
    }
  }
}
