@import './import.scss';

.CardImoveis {

    .InfoCardimoveis {
        display: flex;
        flex-direction: column;
        padding: 0 5px;

        > * {
            margin: 4px 0;
        }

        .CaractImovel {
                width: 100%;
                display: flex;
                justify-content: space-between;
                font-size: 12px;
        }

        .EnderecoImoveis {
            font-size: 12px;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }
}