@import './import.scss';

.news {
    display: flex;
    @extend %centro-do-item;
    @extend %inicio-section;

    .container{

        .formNews {
            width: 50%;
            padding-right: 20px;

            form {
                display: flex;
                margin: 15px 0;

                > * {
                    margin: 8px 0;
                }
                
                input {
                    width: 100%;
                    border: 1px solid $cor-preta;
                    padding: 10px 15px;
                    font-weight: 700;
                }
                
                button {
                    width: 60px;
                    background-color: chartreuse;
                }
            }
        }

        .textoNews {
            display: flex;
            @extend %centro-do-item;
            width: 50%;
            padding-left: 100px;

            p {
                width: 70%;
            }
        }

    }
}