@font-face {
    font-family: Karla-ExtraLight;
    src: url(../fonts/Karla-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Karla-Light;
    src: url(../fonts/Karla-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Karla;
    src: url(../fonts/Karla-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Karla-Medium;
    src: url(../fonts/Karla-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Karla-SemiBold;
    src: url(../fonts/Karla-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Karla-Bold;
    src: url(../fonts/Karla-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Karla-ExtraBold;
    src: url(../fonts/Karla-ExtraBold.ttf);
    font-weight: 800;
}
