@import './App.scss';

header{ 
    .Navbar *, .pesquisa *  {
        color: #fff;
        display: flex;
    }
}

header{ 
    .Navbar {
        width: 100%;
        display: flex;
        justify-content: center;
        background: $cor-preta;
        border-bottom: 1px solid #555;
        
        .navbar-conteiner {
            width: 100%;
            max-width: 1080px;
            height: 90px;
            @extend %centro-do-item;

            * {
                height: min-content;
            }
            .logo-menu {
                width: 250px;
                margin-right: 50px;
            }
            .menu-lists {
                width: 100%;
                justify-content: space-between;

                .icone-collapse {
                    display: none;

                    @media screen and (max-width: $celular) {
                        display: flex;
                    }

                    svg {
                        width: 30px;
                        fill: #fff;
                    }
                }

                ul li {
                    margin: 0 10px;
    
                    svg {
                        width: 24px;
                        fill: #fff;
                    }
                }
            }
        }
    }

    .pesquisa {
        background: $cor-preta;
        display: flex;
        justify-content: center;

        .pesquisa-container {
            width: 100%;
            max-width: 1080px;
            min-height: 90px;
            flex-wrap: wrap;
            align-items: center;
            padding: 38px 0;

            > * {
                padding: 15px 0;
            }

            .barra-pesquisa {
                width: 70%;

                input {
                    padding: 10px 15px;
                    font-weight: 700;
                }
                .texto-pesquisa {
                    width: 400px;
                    color: $cor-preta;
                }
                .listVenda-pesquisa {
                    background: $cor-vermelha;
                    width: 100px;
                    font-weight: 700;
                }
                button {
                    background: none;
                    @extend %centro-do-item;

                    svg {
                        width: 30px;
                        margin: 0 38px;
                        fill: #fff;
                    }
                }
            }

            .filtros-pesquisa {
                width: 30%;
                flex-direction: column;

                > * {
                    display: block;
                    text-align: right;
                }
                p {
                    font-weight: 200;
                }
            }

            .quantidade-pesquisa {
                width: min-content;
                margin-right: 50px;

                ul li a {
                    margin: 0 15px;
                }
            }

            .ordem-pesquisa {
                @extend %centro-do-item;

                svg {
                    width: 30px;
                    margin: 0 15px;
                    fill: #fff;
                }
            }

        }
    }
}

