// paleta de cores
$cor-preta: #252728;
$cor-vermelha: #DB0423;

// media screen size
$celular: 480px;
$tablet: 1080px;

%centro-do-item {
    justify-content: center;
    align-items: center;
}

%inicio-section {
    padding: 80px 0;
}