.Sobre {
  padding: 24px;
  color: #fff;
  .linhasVerticais {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(
        -35deg,
        rgba(27, 27, 27, 0.3),
        rgba(39, 39, 39, 0.5)
      ),
      url(./../../../assets/Imagens/linhas.svg) no-repeat fixed top / cover,
      linear-gradient(
        -35deg,
        rgb(39, 39, 39) 6%,
        rgb(27, 27, 27) 37%,
        rgb(27, 27, 27) 57%,
        rgb(39, 39, 39)
      );
    .linhas {
      display: flex;
      height: 100%;
      top: 0;
      left: 0;
      .linha {
        width: 40%;
        &:nth-child(2) {
          width: 30%;
          border-left: 1px solid #5555;
          border-right: 1px solid #5555;
        }
      }
    }
  }
  .textoPrincipal {
    .titulo {
      margin: 24px 0;
      font-weight: 800;
    }
    p {
      padding-left: 12px;
      margin: 48px 0;
      font-weight: 200;
      text-align: right;
      border-left: #fff1 1px solid;
      line-height: 20px;
    }
    .slide {
      display: flex;
      margin: 72px 0;
      position: relative;

      .alice-carousel__wrapper {
        height: 175px;
      }
      .alice-carousel__dots {
        margin: 12px 3px 5px;
        .alice-carousel__dots-item {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #fff2;
          transition: 0.4s ease;
          &:hover {
            background: #fff9;
            transition: 0.4s ease;
          }
          &.__active {
            background: #db0423;
            transition: 0.4s ease;
          }
        }
      }
      &.Loja {
        margin-left: -24px;
      }
      &.Loja::before {
        content: " ";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 12px;
        left: 6px;
        background: url(./../../../assets/Imagens/grade-b.png) no-repeat center /
          cover;
      }
      &.Incorporadora {
        width: 100vw;
        margin-left: -24px;
      }
    }
  }
  .diretores {
    margin-top: 72px;
    .titulo {
      margin: 24px 0;
    }

    .informacoes {
      min-height: 378px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 48px 0;
      padding-right: 24px;
      border-right: #fff1 1px solid;
      > * {
        display: none;
      }
      h3 {
        margin: 24px 0;
      }
      p {
        margin: 12px 0;
        font-weight: 200;
        line-height: 20px;
        &:last-child {
          margin-bottom: 12px;
        }
      }
    }

    input {
      display: none;
      &[id="default"]:checked {
        & ~ .informacoes {
          .default {
            display: block;
          }
        }
      }
      &[id="leonardo"]:checked {
        & ~ .informacoes {
          .leonardo {
            display: block;
          }
        }
      }
      &[id="cristiane"]:checked {
        & ~ .informacoes {
          .cristiane {
            display: block;
          }
        }
      }
      &[id="reginaldo"]:checked {
        & ~ .informacoes {
          .reginaldo {
            display: block;
          }
        }
      }
      &[id="alessandro"]:checked {
        & ~ .informacoes {
          .alessandro {
            display: block;
          }
        }
      }
      &[id="diogo"]:checked {
        & ~ .informacoes {
          .diogo {
            display: block;
          }
        }
      }
    }
    .fotografias {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 48px 0 24px;
      .imagem {
        width: calc((100% / 3) - 6px);
        height: 125px;
        margin: 3px;
        display: block;
        filter: grayscale(100%);
        overflow: hidden;
        transition: 0.4s ease;
        &#reginaldo {
          order: 1;
        }
        &#cristiane {
          order: 2;
        }
        &#alessandro {
          order: 3;
        }
        &#leonardo {
          order: 4;
        }
        &#diogo {
          order: 5;
        }
        img {
          transition: 0.4s ease;
        }
        &:hover{
          filter: grayscale(0);
          transition: 0.4s ease;
        }
        &.ativo {
          filter: grayscale(0);
          transition: 0.4s ease;
          img {
            transform: scale(1.05);
            transition: 0.4s ease;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 820px) {
  .Sobre {
    .container {
      margin: auto;
    }
    .textoPrincipal {
      display: flex;
      flex-direction: column;
      position: relative;
      .titulo {
        width: 72%;
        margin: 48px 0;
        font-size: 1.5em;
      }
      p {
        width: 90%;
        align-self: flex-end;
        padding-left: 38%;
        margin: 48px 0;
        font-size: 1.1em;
        line-height: 24px;
      }
      .slide {
        width: 74%;
        left: calc((1140px - 100vw) / 4);
        .alice-carousel__wrapper {
          height: 375px;
        }
        &.Loja::before {
          content: " ";
          width: 100%;
          height: 100%;
          padding: 0 12px;
          position: absolute;
          top: 12px;
          left: 24px;
        }
        &.Incorporadora {
          width: 100vw;
          margin-left: calc((1140px - 100vw) / 4);
        }
      }
    }
    .diretores {
      .titulo {
        margin: 48px 0;
        font-size: 1.5em;
      }
      .informacoes {
        width: 100%;
        padding-right: 10%;
        min-height: 350px;
        margin: 24px 0;
        h3 {
          margin: 48px 0;
        }
        p {
          margin: 24px 0;
        }
      }
      .fotografias {
        margin: 24px 0;
        flex-wrap: nowrap;
        .imagem {
          height: 375px;
        }
      }
    }
  }
}
