.Sobre {
    padding: 24px;
    .textoPrincipal{
        p{
            margin-bottom: 12px;
        }
    }
    .diretores{
        h2{
            color: #db0423;
            margin: 48px 0 24px;
        }
        h3{
            margin: 24px 0 12px;
        }
        p{
            margin-bottom: 6px;
            &:last-child{
                margin-bottom: 12px;
            }
        }
    }
}

@media screen and (min-width:820px) {
    .Sobre {
        .container{
            margin: auto;
        }
    }
}
